.single-post {
  margin-bottom: 30px;
}
.post-title {
  text-decoration: none;
  font-size: 1.6em;
  line-height: 42px;
  color: #000;
  transition: 0.5s all ease-in-out;
}

.post-content {
  font-size: 1em;
  line-height: 28px;
}
